@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
  header {
    display: none
  }
}
@media print {
  header, footer, .formulaire {
    display:none;
  }
}


html{
  background: #4d4d4f;
}
b {
  color: #EA1D6F;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

nav {
text-align: right;
margin-right: 10%;
width:auto;
right: 0;
overflow: hidden;
top: 0;
position: fixed;
width: 80%;
}

nav ul li{
  width 100px;
  height: auto;
  display: inline-table;
  border-bottom: 1px solid #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  text-transform: uppercase;
  font-weight:  bolder;
  text-shadow: 0px 1px 2px rgba(234,29,111,1);
}
nav ul li a {
text-decoration: none;
color: #888;

}
nav ul li a:hover {
  border-bottom: 1px solid #EA1D6F;
  text-decoration: none;
}
nav ul li:last-child{
  background-color: #3e3e3e;
  float: left;
}

.bloc1{
  margin: auto;
  margin-top:100px;
  width: 80% ;
  height: auto;
  background-color: #3e3e3e;
  margin-bottom: 50px;
  font-size: 150%;
  overflow: auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  background-image: url('../assets/images/textu3.jpeg');
  color: #ea1d6f;
  background-repeat: no-repeat;
  background-position: center;

}
.bloc1 img{
width: 230px;
height:300px;
float: right;
}
.bloc{
  margin: auto;
  width: 80% ;
  height: auto;
  background-color: #888;
  margin-bottom: 50px;
  text-align: justify;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;


}
.container{
  margin: auto;
  width: 80% ;
  height: auto ;
  background-color: #3e3e3e;
  margin-bottom: 50px;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  color: #888888;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.container p{
  text-align: center;
  padding-left: 5px;
  color: #EA1D6F;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  }
#Portfolio{
    margin: auto;
    width: 80% ;
    height: auto ;
    background-color: #3e3e3e;
    margin-bottom: 50px;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    color: #888888;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  .img {
    width: 300px;
    height: auto;
    border-radius: 5%;
  }

/*tableaux créés à l'aide d'un générateur*/
.exptable {
		width:100%;
		border:1px none #CD1818;
		border-collapse:collapse;
		padding:20px;
	}
	.exptable caption {
		caption-side:top;
		text-align:left;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;

	}

	.exptable th {
		border:1px none #CD1818;
		padding:5px;
		background:#888;
    width: 50%;
    text-shadow: 0px 1px 2px #3e3e3e;

	}
	.exptable td {
		border:1px none #CD1818;
		padding:5px;
	}

  .demo {
		width:100%;
		border:1px none #CD1818;
		border-collapse:collapse;
		padding:5px;
    text-align: center;
	}
	.demo th {
		border:1px none #CD1818;
		padding:5px;
		background:#3e3e3e;
	}
	.demo td {
		border:1px none #CD1818;
		padding:5px;
		background:#888;
    color: black;

	}
progress {
  border-radius: 13px;
  width: 100%;
  height: 15px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  margin-top: -5px;
}
progress::-webkit-progress-bar {
  background-color: #3e3e3e;
  border-radius: 13px;
}
progress::-webkit-progress-value {
  background: rgb(234,29,111);
  background: linear-gradient(39deg, rgba(234,29,111,1) 0%, rgba(62,62,62,1) 100%);
  border-radius: 13px;
}
progress::-moz-progress-bar {
  /* style rules */
}

/* Début formulaire importé, crédit Krisantus Wanadi, pris sur codepen
modifié à ma convenance*/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.formulaire {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
.screen {
  position: relative;
  background: #888;
  border-radius: 15px;
}
.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}
.screen-body {
  display: flex;
}
.screen-body-item {
  flex: 1;
  padding: 50px;
}
.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}
.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}
.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: #3e3e3e;
}
.app-form-group {
  margin-bottom: 15px;
}
.app-form-group.message {
  margin-top: 40px;
}
.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;Persévérance
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}
.app-form-control::placeholder {
  color: #666;
}
.app-form-control:focus {
  border-bottom-color: #ddd;
}
.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.app-form-button:hover {
  color: #b9134f;
}
/*fin snippet importé*/
 footer {
   height: 300px;
   width: auto;
 }

/*div{
  display: flex;
}
